<div class="container">
    <div class="section-heading text-center">
        <h2>Praise from Clients</h2>
    </div>
    <div class="row g-3">
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/logos/mtc.svg" height="28rem" title="" alt="">
                </div>
                <h5>Our expectations were surpassed by the exceptional commitment</h5>
                <p>Detail and creativity exceeded our expectations during our projects. The stunning organization and user-friendly documentation he produced immediately enhanced our production</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/peoplecomments/marcorobadey.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Marco Robadey</h6>
                        <span>PMO at MTC connect</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/logos/vector.png" height="28rem" title="" alt="">
                </div>
                <h5>Incredible professional!</h5>
                <p>Provides amazing support, has an impressive career, and an outstanding knowledge. He makes it very easy to work with him.</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/peoplecomments/hudsonsoares.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Hudson Soares</h6>
                        <span>Founder of Consultoria Vetor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/logos/ADlogo.svg" height="28rem" title="" alt="">
                </div>
                <h5>Very responsible professional</h5>
                <p>Prompt deliveries, always meeting deadlines. Provides me with all the support I need for my website maintenance. And all of this comes with excellent cost-effectiveness..</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/peoplecomments/fabioxavier.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Fábio Xavier</h6>
                        <span>Co-Founder of Ambiental & Drone</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/logos/engconclogoColor.svg" height="28rem" title="" alt="">
                </div>
                <h5>It's very easy to use and very specific, awesome...</h5>
                <p>I've been using recently, it's very easy to use and very specific, awesome...</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/peoplecomments/unkownuser.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>SESMC app User</h6>
                        <span>Google Play Store Comments</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/logos/engconclogoColor.svg" height="28rem" title="" alt="">
                </div>
                <h5>It really prepares us for puplic competition tests in the area!</h5>
                <p>Excellent, it really prepares us for puplic competition tests in the area!</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/peoplecomments/unkownuser.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>SESMC app User</h6>
                        <span>Google Play Store Comments</span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-6 col-lg-4">
            <div class="testimonials-box">
                <div class="t-icon">
                    <img src="assets/img/brand-2.svg" title="" alt="">
                </div>
                <h5>Our expectations were surpassed by the exceptional web design</h5>
                <p>Detail and creativity exceeded our expectations during our website redesign. The visually stunning and user-friendly site she produced immediately enhanced our online presence</p>
                <div class="t-user">
                    <div class="t-user-icon">
                        <img src="assets/img/avatar-3.jpg" title="" alt="">
                    </div>
                    <div class="t-text">
                        <h6>Will Smith</h6>
                        <span>Sample Company</span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>