<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Services</h6>
                <h2>Get a powerful software system that delivers results with an all-in-one solution</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="bi-code-square"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Software Solutions</h5>
                    <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one website solution that covers modern designs templates, development, and hosting solutions</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-palette"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Android and IOS Apps</h5>
                    <p>Reach all platforms (Android, IOS) with just one clean and tested code</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-speedometer2"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Working with Agile and BDD</h5>
                    <p>Agile methodologies allows you shape the results working together with your developers team. BDD provides a powerful, effiecient and tested software.</p>
                </div>
            </div>
        </div>
    </div>
</div>