<div class="container">
    <div class="row justify-content-between flex-row-reverse">
        <div class="col-md-7 col-lg-5">
            <div class="about-text">
                <h6>About - Nan Software</h6>
                <h3>Get a software solution that will make a lasting impression on your audience!!!</h3>
                <p>I have PGD in Quality of Software Engineer - SENAC, Mester Degree in Biosystem Engineer - U.F.F. and Civil Engineer by U.E.R.J. Fluent english, Advanced Spanish. International work experience. About 2 years as a profissional developer + 2 as an academic dev. Experience at G.PlayStore and using React.js/ Native, Nest.js, Node.js, SQL, MongoDB, Java Android, TypeScript and more... 
                </p>
                <div class="social-icon">
                    <!--<a href="javascript:"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:"><i class="fab fa-instagram"></i></a>-->
                    <a href="https://www.linkedin.com/in/eng-renan-torres/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/engRenanTorres/"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-end">
            <div class="about-banner">
                <img src="assets/img/about-me-01.png" title="" alt="">
            </div>
        </div>
    </div>
</div>