<div class="container">
    <div class="section-heading text-center mb-2">
        <h2 class="m-0">Featured Projects</h2>
    </div>
    <div class="row gx-0">
        <div class="project-box gy-5" style="background-image: url(assets/img/project-1.jpg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>MTC Connect</h3>
                        <p>MVNO Project designed to connect people</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_1"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span><a href="https://mtcconnect.com.br/">Web Site</a></span>
                        <span><a href="https://play.google.com/store/apps/details?id=com.febro.mtc_connect">Android App</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-box gy-5" style="background-image: url(assets/img/project-2.jpg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>GEAF</h3>
                        <p>Administrative and Financial Management Software developed by VECTOR CONSULTORIA LTDA</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_2"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span><a href="https://www.consultoriavetor.com/">Web Site</a></span>
                        <span><a href="https://www.consultoriavetor.com/_files/ugd/4a0c12_fcab99b865fa4357ab551be16e6e92b2.pdf">GEAF Project</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-box gy-5" style="background-image: url(assets/img/project-3.jpg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Engenharia de Concursos</h3>
                        <p>A free system created to prepare people to public exams</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_3"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span><a href="https://engenhariadeconcursos.com.br/">Web Site</a></span>
                        <span><a href="https://play.google.com/store/apps/details?id=com.engrenantorres.sesmc">Android App</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

