<main class="wrapper" id="scroll-container">

    <section id="home" spyTarget="home"  class="spy-section home-section">
        <app-home></app-home>
    </section>

    <section class="py-3 py-md-4 brand-section gray-bg">
      <app-brands></app-brands>
    </section>

    <section id="services" spyTarget="services"  class="spy-section section">
        <app-services></app-services>
    </section>

    <section id="project" spyTarget="project" class="spy-section project-section section pt-0">
      <app-work></app-work>
    </section>

    <section class="section pt-0">
        <app-experience></app-experience>
      </section>

    <section id="about" spyTarget="about" class="spy-section about-section section">
        <app-about></app-about>
     </section>
   
    <section class="section effect-section">
        <app-testimonials></app-testimonials>
    </section>

    <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section>
   
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p class="m-0 text-center">© 2023 copyright all right reserved</p>
      </div>
  </footer>
    <a href="#home"  id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer --> 
</main>
   <!-- Snigle 1 -->
  <div class="modal fade" id="project_1" tabindex="-1" aria-labelledby="project_1" aria-hidden="true">
    <div class="modal-dialog px-modal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <img class="border" src="assets/img/popup-project-1.jpg" title="" alt="">
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>MVNO Project designed to connect people</h4>
                    <p class="mb-3">Company focused on providing mobile internet to customers. The project has been in production providing internet to public school students in the city of Maricá and is expanding to other cities.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Full stack application</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>Typescript, HTML, CSS, JS, Kotlin</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Frameworks:</span>
                                <span>Nest.js, JQuery, Express.js</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>Brazil</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>https://mtcconnect.com.br/</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Snigle 1 -->
<!-- Snigle 2 -->
<div class="modal fade" id="project_2" tabindex="-1" aria-labelledby="project_2" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/project-2.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Administrative and Financial Management Software</h4>
                  <p class="mb-3">VETOR is a consultancy company that brings together in its technical staff professionals with extensive experience working with civil society organizations, international cooperation organizations, religious organizations, social movements, networks, foundations, and international donors (non-governmental and governmental).</p>
                  <p>Since its foundation in 2006, VETOR has worked on topics such as sustainable development, environment and climate, populations indigenous and traditional, community and territorial support funds, human rights, gender, and the right to food. </p>
                  <p>  Through the use of technology, combined with the experience acquired in the operational sector, as well as in the administrative and financial sector, the VETOR reaffirms its mission to make use of the knowledge achieved to contribute to organizations of public interest, whether governmental or private, aiming to improve the quality of their intervention and, therefore, its degree of sustainability.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Web Full stack application</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Frameworks:</span>
                              <span>Express.js, JQuery</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Country:</span>
                              <span>Brazil</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span>https://www.consultoriavetor.com/</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 2 -->
<!-- Snigle 3 -->
<div class="modal fade" id="project_3" tabindex="-1" aria-labelledby="project_3" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/project-3.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Designed to improve people knowledge</h4>
                  <p class="mb-3">The first app to create free simulated engineering competition tests. The goal is to help engineers study for public exams. It has a prototype on the Play Store, which has reached about 500 users.</p>
                  <p>The system uses a MySQL database with a Nest.js backend and a React.js (Vite) web frontend, where the questions are managed. It will also have a web page for simulated tests and a new mobile app in the future.</p>
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Type:</span>
                              <span>Full Stack</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Langages:</span>
                              <span>Typescript, HTML, CSS, JS</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Plataforms:</span>
                              <span>Web, Android</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Frameworks:</span>
                              <span>Nest.js, React.js, React Native</span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">Live URL:</span>
                              <span><a href="https://engenhariadeconcursos.com.br/">https://engenhariadeconcursos.com.br/</a></span>
                          </li>
                          <li class="d-flex">
                              <span class="col-4 col-lg-3">App:</span>
                              <span><a href="https://play.google.com/store/apps/details?id=com.engrenantorres.sesmc">Adroid app</a></span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 3 -->